*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: "Roboto",Arial, Helvetica, sans-serif;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
}

.help, .back{
    position: fixed;
    top: 2rem;
    right: 2rem;
}

.help__guide{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}

.help__guide p{
    max-width: 600px;
    font-size: 1.6rem;
    padding: 2rem;
}

.help__guide h1{
    font-size: 2.3  rem;
    padding-bottom: 1rem;
}

form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generator__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    padding: 1rem 3rem;
    background-color: rgb(207, 207, 207);
    border-radius: .3rem;
}


.generator, .confirmButton{
    padding: 1rem;
}

#dice{
    cursor: pointer;
    transition: ease-in 0.1s;
    fill: rgb(33, 33, 33);
}

.clicked {
    /* transform: scale(1.2); Scale up by 20% when clicked */
    animation: rotate 0.2s linear;
}

#dice:hover{
    scale: 0.9;
    transition: ease-out 0.1s;
}

.confirmButton{
    padding: 1rem 3rem;
}

.generated{
    font-size: 2rem;
    letter-spacing: .3rem;
}

.arrow{
    font-size: 2rem;
    /* color: lightgrey; */
}

form input[type="text"]{
    font-size: 1.3rem;
    letter-spacing: .1rem;
    text-align: center;
    font-family: "Roboto",Arial, Helvetica, sans-serif
}

.keygen[type="text"]{
    background-color: white;
    color: black;
}

.keypass[type="text"]{
    /* background-color: rgb(255, 26, 26); */
    color: black;
}

